* {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Roboto", Courier, sans-serif;
}

:root {
  --header-color: #fff;
  --dark-section-color: #ffffff;
  --nav-background: #3a2e2f;
  --what-we-do-background: #33292a;
  --where-to-go-background: #644b4f;
  --footer-background: #333333;
  --link-color: #efa69d;
  --link-hover-color: #e9877b;
  --light-backround: #f2f2f2;
}

h1,
h2 {
  padding-bottom: 20px;
}
h2 {
  font-size: 32px;
}
p {
  font-size: 16px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrapper {
  margin-left: 30px;
  margin-right: 30px;
  padding: 48px 0;
  /* border: 1px solid red; */
}

@media (min-width: 756px) {
  .wrapper {
    max-width: 856px;
    margin: 0 auto;
  }
  .header-wrapper {
    max-width: 856px;
  }
}

#what-we-do {
  background-color: var(--what-we-do-background);
  color: var(--dark-section-color);
}
#where-to-go {
  background-color: var(--where-to-go-background);
  color: var(--dark-section-color);
}
.light-background {
  background-color: var(--light-backround);
}
/* MOBILE FIRST do 768px */

/* HEADER A NAVIGACE */
header {
  color: var(--header-color);
  background-color: var(--nav-background);
}

.header-wrapper {
  height: 67px;
  align-content: center;
  text-align: end;
}

.nav-icon {
  width: 50px;
  height: 40px;
  padding: 8px;
  margin-right: 30px;
}

.navigation-list {
  list-style: none;
  flex-direction: column;
  justify-content: space-evenly;
  display: none;
  padding-left: 0;
}

.navigation-li {
  text-align: center;
}

.navigation-li a {
  color: var(--header-color);
  font-weight: bold;
  text-decoration: none;
  padding: 10px 0;
}
@media (min-width: 768px) {
  .navigation-list {
    display: flex;
    flex-direction: row;
  }
  .nav-icon {
    display: none;
  }
  .navigation-li a {
    justify-items: space-around;
    font-size: 20px;
  }
}

/* HERO */

#hero {
  background-image: url(./images/hero_scott-goodwill-y8Ngwq34_Ak-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-wrapper {
  position: relative;
  height: 780px;
}
.hero-text {
  color: var(--header-color);
  position: absolute;
  /* top: 652px;
  left: 175px; */
  right: 28px;
  bottom: 64px;
  text-align: right;
  font-size: 42px;
}
@media (min-width: 768px) {
  .hero-text {
    font-size: 96px;
  }
}
/* ABOUT US */
.about-us-wrapper {
  display: flex;
  flex-direction: column;
  /* flex-wrap: nowrap; */
  gap: 23px;
}

.about-us-image img {
  height: 100%;
  width: 100%;
  padding: 0;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .about-us-wrapper {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .about-us-text {
    width: 50%;
  }
  .about-us-image {
    width: 50%;
  }
}
/* ---What we do ------------------------ */
#what-we-do-wrapper {
  display: grid;
  gap: 20px;
}

.what-we-do-text {
  text-align: center;
  margin-bottom: 48px;
}

.icon-cards-what-we-do {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  text-align: center;
  justify-items: space-between;
}
.icon-card p {
  color: #fff;
  text-align: center;
}

.icons {
  height: 103px;
  width: 85px;
  padding-bottom: 12px;
  object-fit: contain;
}

@media (min-width: 768px) {
  .icon-cards-what-we-do {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}

/* ---Our trips ------------------------ */
.our-trips-wrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: (1, 1fr);
  grid-template-rows: (1, 1fr);
  grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e"
    "f"
    "g"
    "h"
    "i";
}
.our-trips-text h2 {
  padding: 20px;
}
.our-trips-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.galery-item-a {
  grid-area: 1;
}
.galery-item-b {
  grid-area: 2;
  display: grid;
}
.galery-item-c {
  grid-area: 3;
  display: grid;
}
.galery-item-d {
  grid-area: 4;
  display: grid;
}
.galery-item-e {
  grid-area: 5;
}
.galery-text {
  text-align: center;
  margin: auto 0;
}
.galery-item-f {
  grid-area: 6;
  display: grid;
}
.galery-item-g {
  grid-area: 7;
  display: grid;
}
.galery-item-h {
  grid-area: 8;
  display: grid;
}
.galery-item-i {
  grid-area: 9;
  display: grid;
}
@media (min-width: 768px) {
  .our-trips-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "1 2 3"
      "4 5 6"
      "7 8 9";
    gap: 10px;
  }
}
/* ---- Where to go ----------------*/
/* #where-to-go {
  color: var(--header-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
} */
.where-to-go-left {
  width: 100%;
}
.where-to-go-right {
  width: 100%;
}
.where-to-go-right p {
  padding-bottom: 20px;
}

button {
  height: 43px;
  width: 133px;
  border-radius: 5px;
  font-weight: 700;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .where-to-go-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .where-to-go-left {
    width: 30%;
  }
  .where-to-go-right {
    width: 70%;
    text-align: left;
  }
}

.review-wrapper {
  text-align: center;
}
.review-card {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
}
.review-card p,
.review-text p {
  padding-bottom: 20px;
}

.review-card-img {
  height: 111px;
  width: 111px;
  border-radius: 50%;
  margin-top: 30px;
  margin-bottom: 10px;
}
.review-name {
  font-weight: bold;
}

@media (min-width: 768px) {
  .review-text {
    width: 332px;
  }
  .review-cards {
    display: flex;
    flex: row;
    gap: 20px;
    max-width: 867px;
  }
  .review-card {
    width: 378.49px;
    align-content: space-between;
  }
}

.photogalery-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

@media (min-width: 768px) {
  .photogalery-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

/* FOOTER */
.footer-wrapper {
  text-align: center;
  padding: 20px;
  background-color: var(--footer-background);
  font-weight: 700;
}
.footer-wrapper a {
  color: var(--link-color);
  font-size: 12px;
}
.footer-wrapper a:hover {
  color: var(--link-hover-color);
}
.mailto {
  padding-bottom: 10px;
}

.footer-wrapper p {
  color: #ffffff;
  font-size: 10px;
}
